<h1>Edit a Product Here</h1>
<form action="/products">
  Name:<br>
  <input type="text" value={{prod.name}} name={{prod.name}}><br>
  Price:<br>
  <input type="text" value={{prod.price}} name={{prod.price}}><br>
  Inventory:<br>
  <input type="text" value={{prod.inventory}} name={{prod.inventory}}><br><br>
  <button type="submit">Submit</button>
</form>